extends layout

block content
	div.container
		h1 WMS
		div.page-header
			p.lead WMS korttjenester i AWS Suitens version 4 til udstiling af Danmarks Adresser.

	div.container
		div.row
			div.col-md-3

			div.col-md-9
				h2 WMS tjeneste

				p AWS Suite version 4 rummer en WMS tjeneste, som udstiller vejpunktlinjer.

				p Capability-filen kan du finde på <a href='https://kort.aws.dk/geoserver/aws4_wms/wms?REQUEST=GetCapabilities'>https://kort.aws.dk/geoserver/aws4_wms/wms?REQUEST=GetCapabilities</a>

				p Hvis du ønsker at anvende en sikker/krypteret forbindelse finder du capability-filen på <a href='https://kort.aws.dk/geoserver/aws4_wms_secure/wms?REQUEST=GetCapabilities'>https://kort.aws.dk/geoserver/aws4_wms_secure/wms?REQUEST=GetCapabilities</a>


block append scripts
	script(type='text/javascript').
		$('#topbar li').removeClass('active');
		var a= $("#topbar li a[href='wms']")[0];
		var li= $(a).parent().addClass('active');S